dataclasses>=0.6
# typing>=3.7.4  # Removed: conflicts with Python 3.8+ built-in typing module
filebytes>=0.10.1
pyelftools>=0.32
# pyobjc if platform.system() == 'Darwin', currently we don't care about macOS
